<div class="background">
	<div class="spacer">
	</div>
	<div class="spacer">
	</div>
		<div id="main-container" class="container">
			<h1>Intervals</h1>
			<h6>an ear training tool</h6>
  			<a href="/sessions/new">Log In </a>
  			<br>
  			<a href="/users/new">Sign Up </a>
  		</div>
</div>
